// Imports -------------------------------------------------------------------

@import compass/reset
@import base

/* Layout ------------------------------------------------------------------

.container
  +container
  // +susy-grid-background

body
  font-family: 'Arial', sans-serif
  font-size: 100%

h1
  margin: 0.5em 0
  font-size: 1.5em
